/* We can remove the border we've set at the beginnig */

.panel__top {
    padding-top: 2px;
    padding-bottom: 0;
    z-index: 9;
}

.panel__basic-actions {
    position: initial;
}

.code-editor {
    border: 3px solid #444;
    height: 100%;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px;
}

.editor-canvas {
    flex-grow: 1;
}

.panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
}

.panel__switcher {
    position: initial;
}

.editor-row {
    height: 100%;
}

::ng-deep .gjs-cv-canvas {
    // width: 100% !important;
}

::ng-deep .gjs-pn-devices-c {
    display: none !important;
}


.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    height: calc(100vh - 58px);
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#i7ymw {
    flex-basis: 30.35%;
    border: 1px solid #d3c5c5;
}

#imav8 {
    flex-basis: 70%;
    float: none;
}

#i5q2a {
    height: 100vh;
    padding: 0 0 0 0;
}

#iyxnk {
    display: flex;
}

#ijegf {
    margin: 0 0 0 auto;
}

#ic65i {
    padding: 10px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    border: 1px solid #d3c5c5;
}

#i46ph {
    margin: 0 0 0 0;
    padding: 2px 2px 2px 2px;
}

#ij1wv {
    position: absolute;
    right: 0;
    padding: 0 8px 0 8px;
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

.editor-container {
    height: 100%;
}

.panel__right__floating {
    position: absolute;
    width: 200px;
    height: 100%;
    right: 0;
    top: 52px;
    background: white;

}

.split-container {
    height: 95vh;
}


.as-split-area > div {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .hack-iframe-hider {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }