<div class="MuiBox-root jss7">
  <div class="MuiBox-root jss8">
    <div class="MuiBox-root jss9">
      <div class="MuiBox-root jss10">
        <div class="MuiBox-root jss12" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;">
          <div class="MuiBox-root jss13">
            <div class="jss14">
              <div>
                <div class="jss22">
                </div>
                <h1 class="MuiTypography-root jss24 MuiTypography-h1">Welcome to<br>App Builder</h1>
              </div>
              <form>
                <div>
                  <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth" spellcheck="false">
                    <div
                      class="MuiInputBase-root MuiOutlinedInput-root Mui-error Mui-error MuiInputBase-fullWidth MuiInputBase-formControl">
                      <input aria-invalid="true" autocomplete="email" id="signin-form-inpt-email" name="email"
                        placeholder="Email" type="text" class="MuiInputBase-input MuiOutlinedInput-input" value="">
                      <fieldset aria-hidden="true" class="jss26 MuiOutlinedInput-notchedOutline"
                        style="padding-left: 8px;">
                        <legend class="jss27" style="width: 0.01px;"><span>​</span></legend>
                      </fieldset>
                    </div>
                    <p class="MuiFormHelperText-root MuiFormHelperText-contained Mui-error MuiFormHelperText-filled"
                      id="email-helper-text">Email is required.</p>
                  </div>
                  <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth" spellcheck="false">
                    <div
                      class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedEnd MuiOutlinedInput-adornedEnd">
                      <input aria-invalid="false" autocomplete="current-password" id="signin-form-inpt-password"
                        name="password" placeholder="Password" type="password"
                        class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputAdornedEnd MuiOutlinedInput-inputAdornedEnd"
                        value="">
                      <div class="MuiInputAdornment-root MuiInputAdornment-positionEnd"><button
                          class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeSmall" tabindex="0"
                          type="button" aria-label="toggle password visibility"><span class="MuiIconButton-label"><svg
                              class="MuiSvgIcon-root jss30" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                              role="presentation">
                              <path
                                d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z">
                              </path>
                            </svg></span><span class="MuiTouchRipple-root"></span></button></div>
                      <fieldset aria-hidden="true" class="jss26 MuiOutlinedInput-notchedOutline"
                        style="padding-left: 8px;">
                        <legend class="jss27" style="width: 0.01px;"><span>​</span></legend>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="jss20"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-contained jss31 MuiButton-containedPrimary MuiButton-fullWidth"
                    tabindex="0" type="submit" id="signin-form-submit"><span class="MuiButton-label"><span>Sign
                        In</span></span><span class="MuiTouchRipple-root"></span></button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
