<div class="ias-page">
  <div class="ias-page-header">
    <div class="ias-header-bar">
      <div class="ias-header-bar_logo">
        <img src="https://microfocus.github.io/ias-bootstrap/assets/images/IAS_UX_100.png" width="50" height="50">
      </div>
      <div class="ias-header-bar_title">App Builder</div>
      <div class="page-header-subtitle-container p-xs ">
        <button type="button" class="btn btn-icon button-primary " [routerLink]="''" title="Code">
          <ux-icon name="home-filled"> </ux-icon>
        </button>
        <!---->
      </div>
      <div class="ias-header-bar_menu" dropdown>
        <img alt="Your Avatar" src="/api/private/avatars/ab2f9f305ce6609d6d650e63a0ea4ad9a7f48d8396c4aa34579088385f0587a5" class="jss120">
        <!-- <span>Developer</span> -->
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
